@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Vinyl&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 112px;
    font-weight: 700;
}

h2{
    font-size: 72px;
    font-weight: 600;
}

h3{
    font-size: 36px;
    font-weight: 600;
}

h4{
    font-size: 24px;
    font-weight: 400;
}

p{
    font-size: 16px;
    font-weight: 400;
}