@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Custom theme
 */
 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@800&display=swap");
 :root {
   --font-family: "Open Sans", sans-serif;
   --border-radius: 0;
   --form-element-spacing-vertical: 1rem;
   --form-element-spacing-horizontal: 1.25rem;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   --font-family: "Raleway", sans-serif;
 }


 